{
  "printWidth": 90,
  "trailingComma": "all",
  "spaceWidth": 4,
  "singleQuote": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "spaceWidth": 4
      }
    },
    {
      "files": "*.scss",
      "options": {
        "spaceWidth": 4,
        "printWidth": 120
      }
    }
  ]
}
